# Specify filepatterns you want git to ignore.
train/
trainWithPandas/
sampleSubmission.csv
__pycache__/
CatsDogs/
CatsDogsFinal/
CatsDogsPandas/
CatsDogsPandasFinal/
CatsDogsPandasUnbalanced/
.env
*.png
*.h5